header {
  height: 64px;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .logo-container{
    margin-left: 10px;
  }
  .logo {
    height: 40px;
    margin-top: 14px;
    margin-left: 5px;
  }
}

.close-menu {
  display: none;
}
.show-mobile-menu {
  display: none;
}

#header-menu {
  .nav-item {
    .nav-link {
      color: var(--navbar-scroll-text);
      padding: 20px 16px 0px 16px;
      font-weight: 650;
      &:hover {
        text-decoration-line: underline;
        border-color: var(--navbar-scroll-text);
      }
    }

    .dropdown {
      button {
        color: #fff;
        padding: 22px 16px 19px 16px;
        border: none;
        border-bottom: 3px solid transparent;
        text-decoration: none;
        &:hover {
          border-bottom: 3px solid #fff;
        }
        &:focus {
          box-shadow: none;
        }
      }

      &.show button {
        border-bottom: 3px solid #fff;
      }

      .dropdown-menu {
        padding: 0;
      }

      .dropdown-item.active {
        color: #fff !important;
      }

      .nav-link {
        color: #212529;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 8px 12px;
      }
    }
  }
}

#language-dropdown{
  padding-top: 14px;
}

//
// Small screen
//

@media (max-width: 991.98px) {
  .close-menu {
    display: block;
    text-align: right;
    padding: 4px 4px 0 0;
    color: black;
  }

  .show-mobile-menu {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    padding: 14px;
  }

  #header-menu {
    &.show {
      left: 0;
    }

    transition: left 0.2s;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    left: -280px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    flex-direction: column;
    background: #fff;
    z-index: 100;

    .nav-item .nav-link,
    .dropdown button {
      color: var(--dark) !important;
      width: 100%;
      text-align: left;
      border: none;
      padding: 10px 16px !important;
    }

    .nav-item .nav-link.active {
      color: #fff !important;
      background-color: #0072ce;
    }

    .dropdown button {
      display: flex;
      justify-content: space-between;

      &::after {
        margin-top: 8px;
      }
    }

    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      width: 100%;
      border: none;
      a.nav-link {
        padding-left: 32px !important;
        border: none !important;
      }
    }
  }
}
