<footer>
  <div class="d-flex flex-row track-container">
    <div class="d-flex justify-content-between">
      <img *ngIf="activeSong" class="album-artwork" [src]="activeSong.image">
      <img *ngIf="!activeSong" class="album-artwork" src="../../../../assets/default.png">
      <div class="track-text">
        <a *ngIf="activeSong" class="track-title link-dark">{{activeSong.name}}</a>
        <div *ngIf="activeSong" class="track-artist text-muted">
          <span>
            {{activeSong.singerName}}
          </span>
        </div>
      </div>
    </div>
    <div class="scrubber flex-grow-1">
      <span class="time d-none d-md-flex">{{ currentTime$ | async }}</span>
      <mat-slider #slider
        [disabled]="!activeSong"
        class="slider d-none d-md-flex"
        min="0"
        [max]="maxDuration"
        step="1"
        [value]="currentProgress$ | async"
        (change)="seekToTime($event.value)"
      >
      </mat-slider>
      <span class="time d-none d-md-flex">{{durationTime}}</span>
    </div>
    <div class="playback-controls d-flex flex-row">
      <div class="playback-buttons">
        <button class="back d-none d-md-block">
          <fa-icon [icon]="faBackwardStep" size="lg" (click)="playPreviousSong()"></fa-icon>
        </button>

        <button class="play" *ngIf="!isPlaying" (click)="pauseOrPlay()">
          <fa-icon [icon]="faPlay" size="lg" ></fa-icon>
        </button>
  
        <button class="pause" *ngIf="isPlaying" (click)="pauseOrPlay()">
          <fa-icon [icon]="faPause" size="lg"></fa-icon>
        </button>
  
        <button class="next">
          <fa-icon [icon]="faForwardStep" size="lg" (click)="playNextSong()"></fa-icon>
        </button>
      </div>
    </div>
    <div class="misc-controls d-none d-md-flex">
      <button class="volume" (click)="isClicked = !isClicked">
        <fa-icon [icon]="faVolume" size="lg"></fa-icon>
      </button>
      <mat-slider
        *ngIf="isClicked"
        #volume
        class="volume-slider"
        min="0"
        max="1"
        step=".1"
        [value]="audio.volume"
        (input)="changeVolume($event.value)"
      >
      </mat-slider>
    </div>
  </div>
</footer>