body{
    font-family: 'Roboto', sans-serif;
    --navbar-scroll: transparent; 
    --navbar-scroll-text: white;
    --navbar-scroll-shadow: none;
    --height: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
